VITE_SUPABASE_URL=https:https://wqnhzbwrsjwcvhnbzwtb.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indxbmh6Yndyc2p3Y3ZobmJ6d3RiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg1NTQzNzAsImV4cCI6MjA5NDEzMDM3MH0.qgGVtXFT0vc-vnxKBa8hPtSTjojW1a5CygVVUpoNil8
